body {
    background: url(https://images.unsplash.com/photo-1419640303358-44f0d27f48e7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7647e555b6b57682e4aabb61ae6cfd3c) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    color: whitesmoke;
    text-shadow: 3px 1px 2px #2f2f2f;
}

article {
    background: rgba(186, 168, 101, 0.9);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 1px 2px #2f2f2f;
}

#feed img {
    width: 60px;
    height: 60px;
    display: inline-block;
    float: left;
    border-radius: 10px;
}

#feed a,
#feed a:visited {
    color: whitesmoke;
}

.headline {
    padding: 10px 5px;
    font-size: 1.5em;
}

.excerpt {
    font-style: italic;
}

.fa-quote-left {
    font-size: 1.5em;
}

.btn-default {
    color: white;
    background: #2f2f2f;
}

.btn-default:hover,
.btn-default:focus {
    background: #BAA865;
}

.form-control {
    background: #2f2f2f;
    color: #ccc;
}

.form-control:focus {
    border-color: #BAA865;
}

.ui-autocomplete {
    background: #BAA865;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui-menu-item {
    padding-left: 10px;
}
.ui-state-focus {
    background: #ffd457;
}

.ui-helper-hidden-accessible {
    display: none;
}
